# Vim swap files
*.swp
*.swo

# Object files
*.o

# Binaries
src/hello
src/copyfile
src/util
src/print_rax

# ASM listings
src/*.lst

# Autotools artifacts
**/Makefile.in
**/Makefile
autom4te.cache
config.log
config.status
configure
install-sh
missing
compile
aclocal.m4
